@model Modelo.Ordem

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Ordem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtAberturaOs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtAberturaOs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtFechamentoOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtFechamentoOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
