@using Modelo

@model Modelo.Ordem

@{
    ViewBag.Title = "Ordem de Serviço";
    ViewBag.Subtitle = "Editar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Abertura, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Abertura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fechamento, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Fechamento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.Nome, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("ClienteId", null, htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Equipamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("EquipamentoId", null, htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.EquipamentoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @rows = 4 })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Salvar" class="btn btn-default" />
                @if (Model.Fechamento == null)
                {
                    <a href="#" onclick="Fechar(@Model.Id);" class="btn btn-default">Fechar</a>
                }
            </div>
        </div>
    </div>
}

<div id="divItens" style="display: none;">

</div>

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/Views/Ordem/Ordem.js"></script>


    <script type="text/javascript" language="javascript">
        $(function () {

            $('.select2').select2();



            $('#ClienteId').change(function () {

                var clienteId = $(this).val();

                var drop = $('#EquipamentoId');
                drop.html("");
                drop.append('<option value="">Escolha um equipamento...</option>');

                $.get('@Url.Action("", "Ordem")/ListaEquipamentos', { clienteId: clienteId }).done(function (data) {
                    $.each(data, function (i, item) {
                        drop.append('<option value="' + item.Id + '">' + item.Modelo + ' - ' + item.NumeroSerie + '</option>');
                    });
                });
            });

        });

        function Fechar(ordemId) {

            var url = urlOrdemItem + "/ListarItens";

            $.get('@Url.Action("", "Ordem")/Fechar', { ordemId: ordemId }).done(function (data) {

                if (data) {
                    window.location.href = '@Url.Action("", "Ordem")/Details/@Model.Id';
                }

            });

         }


    </script>


}
